@import 'style.css';
#secondHeader {
    background-color: #5167cf;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    height: 100px;
}
form img, form input{
    margin: 10px;
    float: left;
    padding: 5px;
    min-height: 45px;
}
form {
    display: inline-block;
    margin:10%;
}

#contactinfo {
    background-color: #ffffff;
    min-height: 200px;
}

#secondHeader h2 {
    padding: 30px;
    text-align: left;
}
#contactbutton {
    margin-bottom: 20px;
    min-height: 45px;
}

#calendar{
    width: 80%;
    display: none;
    -webkit-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    -moz-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
}

ul {list-style-type: none;}

.month {
    padding: 40px 25px;
    width: 100%;
    background: #5167cf;
    box-sizing: border-box;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    width: 5%;
}

.month .next {
    float: right;
    width : 5%;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #7487DE;
}

.weekdays li {
    display: inline-block;
    width: 12.6%;
    color: #f1f1f1;
    text-align: center;
}

#days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

#days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.active {
    background: #7487DE;
    color: white !important;
}