@import "style.css";

#secondHeader{
    background: #5167CF;
    padding: 50px 30px 30px 60px;
}

#search{
    border-radius: 30px;
    margin: 15px 30px 0 0;
    padding: 8px;
    width: 500px;
}

.icons{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    padding:0;
    vertical-align: middle;
}

#contacts{
    padding: 20px 100px 50px 100px;
}

#warningDiv p{
    margin-top: 100px;
}

.contact{
    width: 100%;
    height: 60px;
    margin: 50px;
    margin-left: 5%;
}

.contact h3{
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
    display: inline-block;
    padding: 15px;
    width: 80%;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: -2px 2px 20px 2px rgba(0,0,0,0.25);
    text-align: left;
}

.contact span{
    float: right;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    color: #444444;
    line-height: 200%;
    vertical-align: middle;
}

.contact input{
    float: left;
    height: inherit;
}

a{
    color:black;
}

a:hover{
    color: #7487DE;
}
