@import 'style.css';
#secondHeader {
    background: #5167CF;
    padding: 50px 30px 30px 60px;
}

contactInfo img{
    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
    padding: 5px;
}

#content {
    min-height: 300px;
}

#contactInfo {
    background-color: #ffffff;
    padding: 50px 100px 50px 100px;
}

#contactButton {
    margin-bottom: 20px;
    min-height: 45px;
}
.guardar {
    float: right;
    margin-right: 10%;
}
.return {
    /*    float: left;*/
    margin-left: 10%;
}

h2{
    display:inline;
}

h3{
    margin-bottom: 30px;
    font-size: 24px;
    color: #444444;
}


img,.icons{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    padding:0;
    vertical-align: middle;
}
.icons{
    float:right;
}

