@import 'style.css';
#secondHeader {
	background-color: #5167cf;
	font-weight: bold;
	font-size: 30px;
	color: #ffffff;
	height: 100px;
}
form img, form input{
	margin: 10px;
	float: left;
	padding: 5px;
	min-height: 45px;
}
form {
	display: inline-block;
	margin:10%;
}
#content {
	display: block;
	float: left;
	position: relative;
	text-align: center;
	box-shadow: -3px 10px 43px 1px rgba(0,0,0,0.75);
	min-height: 300px;
	min-width: 50%;
}
#contactinfo {
	background-color: #ffffff;
	min-height: 200px;
}

#contactinfo form {
	margin: 20px;
}
#secondHeader h2{
	padding: 30px;
	text-align: left;
}

#contactbutton {
	margin-bottom: 20px;
}

.return {
	float: left;
	margin-left: 10%;
	margin-bottom:30px;
}
.icons {
	width: 45px;
  height: 45px;
  border-radius: 100px;
  margin:5px;
}
.guardar {
	float: right;
	margin-right: 10%;
	margin-bottom:30px;
}
