/* Css for Header.php */
header{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: #5167cf;
    -webkit-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    -moz-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    text-align: center;
    height: 100px;
}

#logo { 
    /*if you change width and height of logo, please do change line-height of h1*/
    width: 100px;
    height: 100px;
    float : left;
    border-radius: 100%;
    padding-left: 10px;
    -webkit-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    -moz-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
}

h1{
    font-family: Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    display: inline-block;
    line-height: 100px;
}

#user{
    float: right;
    padding-right: 15px;
}

#userIcon{
    border-radius: 100%;
    width: 45px;
    height: 45px;
    padding: 10px;
}

.dropdown {
    position: relative;
}

.username {
    color: #fff;
    border: 1px solid;
    border-radius: 100px;
    cursor: pointer;
    background-color: #7487DE;
    font-size: 14px;
    min-height: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .username {
    background-color: #5167cf;
}

