#navigation{
    text-align:center;
    margin-bottom: 40px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
     border: 1px solid #ddd; /* Gray */
}

ul.pagination li a.active {
    background-color: #7487DE;
    color: white;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}