@import 'reset.css';
body {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    background: rgba(206, 182, 253, 0.15);
}

h1 {
    color: #ffffff;
    font-size: 48px;
}
h2 {
    font-family: "Helvetica", sans-serif;
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
}

#warning{
    text-align: center;
    color : #2d1c50;
}

.enter {
    clear: both;
}

#content{
    margin: auto;
    width: 800px;
    background: #fff;
    box-shadow: -3px 10px 43px 1px rgba(0,0,0,0.75);
    border: 1px solid;
    border-radius: 3px;
    margin-top: 80px;
    margin-bottom: 80px;
}

/*buttons*/
button {
    color: #ffffff;
    background-color: #428bca;
    font-size: 24px;
    min-height: 45px;
    border-radius: 5px;
    border: 1px solid;
}

.accept {
    float: right;
    margin-right: 5%;
    margin-bottom:30px;
}

.return , .return2{
    float: left;
    margin-left: 5%;
    margin-bottom:30px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5167CF;
    color: white;
    padding: 50px 30px 30px 60px;
}

.modal-body {
    padding: 2px 16px;
    height: 35%;
}

.modal-body p {
    position: absolute;
    top: 50%;
    height: 10%;
    color : #2d1c50;
}

.modal-footer {
    padding: 2px 16px;
    color: white;
    margin-top: 5%;
}

